.ui-about {
  .about-head {
    .about-title {
      color: #000000;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 60px;
      margin: 20px 4px 0 4px;
      outline: 4px solid #000000;
      padding: 20px;
      text-align: center;
    }
    .about-brief {
      color: #000000;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 24px;
      font-weight: bold;
      font-style: italic;
      line-height: 20px;
      margin: 4px 4px 20px 4px;
      outline: 4px solid #000000;
      padding: 20px;
      text-align: center;
    }
  }
  .about-heading {
    color: #000000;
    font-family: nimbus-sans-tw01con,sans-serif;
    font-size: 24px;
    font-stretch: condensed;
    letter-spacing: 10px;
  }
  .about-image {
    width: 100%;
    height: 450px;
  }
  .about-brief {
    margin: 10px 0;
    padding: 20px;
    .brief-title {
      border-bottom: 1px solid #e2705a;
      color: #000000;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 20px;
      font-stretch: condensed;
      font-weight: bold;
      margin: 0;
      padding-bottom: 20px;
    }
    .brief-description {
      color: #000000;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 18px;
      font-stretch: condensed;
    }
  }
  .about-products {
    margin-bottom: 20px;
    .product-button {
      border: 2px solid #000000;
      border-radius: 0;
      color: #000000;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 16px;
      font-stretch: condensed;
      &:hover {
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
}
