.ui-home {
  .carousel-image {
    height: calc(100vh - 80px);
    width: 100%;
  }
  .carousel-select-container {
    bottom: 0;
    position: absolute;
    .carousel-select {
      color: #000000;
    }
  }
  .home-description-container {
    position: absolute;
    top: calc(50% - 100px);
    .home-description {
      background-color: rgba(255, 255, 255, 0.5);
      .home-title {
        color: #000000;
        font-family: nimbus-sans-tw01con,sans-serif;
        font-size: 60px;
        margin: 20px 20px 0 20px;
        outline: 4px solid #000000;
        padding: 20px;
        text-align: center;
      }
      .home-brief {
        color: #000000;
        font-family: nimbus-sans-tw01con,sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        line-height: 50px;
        margin: 4px 0 20px 20px;
        min-height: 56px;
        outline: 4px solid #000000;
        padding: 20px;
        text-align: center;
      }
      .home-navigation {
        background-color: #000000;
        color: #ffffff;
        font-family: nimbus-sans-tw01con,sans-serif;
        font-size: 20px;
        line-height: 50px;
        margin: 4px 20px 24px 0;
        min-height: 56px;
        outline: 4px solid #000000;
        padding: 20px;
        text-align: center;
      }
    }
  }
  .home-heading {
    color: #000000;
    font-family: nimbus-sans-tw01con,sans-serif;
    font-size: 24px;
    font-stretch: condensed;
    letter-spacing: 1vw;
    text-align: center;
  }
  .home-products {
    margin-bottom: 20px;
    .product-image {
      height: 100%;
      width: 100%;
    }
    .product-name {
      color: #ffffff;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 22px;
      font-stretch: condensed;
      margin-bottom: 5px;
      text-align: center;
      text-transform: uppercase;
    }
    .product-price {
      color: #e2705a;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 18px;
      font-stretch: condensed;
      margin-top: 5px;
      text-align: center;
    }
    .product-details {
      border-color: #ffffff;
      color: #ffffff;
    }
  }
}
