.ui-contact {
  min-height: calc(100vh - 140px);
  .contact-heading {
    color: #000000;
    font-family: nimbus-sans-tw01con,sans-serif;
    font-size: 24px;
    font-stretch: condensed;
    letter-spacing: 10px;
  }
}
