.home-drawer {
  .home-menu-list {
    min-height: 100vh;
    .menu-logo {
      height: 30px;
      width: 60px;
    }
    .menu-icon {
      color: #000000;
      margin-right: 10px;
    }
    .page-link {
      color: #000000;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 18px;
      font-stretch: condensed;
      text-decoration: none;
      text-align: center;
      width: 100%;
      &:hover {
        color: #777777;
      }
      &.active {
        color: #e2705a;
      }
    }
  }
}

.ui-header {
  position: sticky;
  top: 0;
  z-index: 1100;
  .header-toolbar {
    background-color: #ffffff;
    padding-top: 5px;
  }
  .home-logo {
    img {
      padding: 18px 10px;
      width: 60px;
      height: 30px
    }
  }
  .home-mobile-menu {
    background-color: #000000;
    color: #ffffff;
  }
  .page-link {
    border-top: 1px solid #000000;
    color: #000000;
    font-family: nimbus-sans-tw01con,sans-serif;
    font-size: 18px;
    font-stretch: condensed;
    line-height: 70px;
    padding: 25px 2vw;
    text-decoration: none;
    &:hover {
      border-top: 3px solid #e2705a;
      color: #e2705a;
    }
    &.active {
      border-top: 3px solid #000000;
      color: #000000;
    }
  }
}
