.ui-provisions {
  .provisions-head {
    .provisions-title {
      color: #000000;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 60px;
      margin: 20px 4px 0 4px;
      outline: 4px solid #000000;
      padding: 20px;
      text-align: center;
    }
    .provisions-brief {
      color: #000000;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 24px;
      font-weight: bold;
      font-style: italic;
      line-height: 20px;
      margin: 4px 4px 20px 4px;
      outline: 4px solid #000000;
      padding: 20px;
      text-align: center;
    }
  }
  .provisions-heading {
    color: #000000;
    font-family: nimbus-sans-tw01con,sans-serif;
    font-size: 24px;
    font-stretch: condensed;
    letter-spacing: 10px;
  }
  .provisions-description {
    color: #000000;
    font-family: nimbus-sans-tw01con,sans-serif;
    font-size: 18px;
    font-stretch: condensed;
    text-align: center;
  }
  .provisions-products {
    .product-image {
      height: 100%;
      width: 100%;
    }
    .product-name {
      color: #000000;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 22px;
      font-stretch: condensed;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    .product-price {
      color: #e2705a;
      font-family: nimbus-sans-tw01con,sans-serif;
      font-size: 18px;
      font-stretch: condensed;
      margin-top: 5px;
    }
    .product-details {
      padding-top: 0;
      .product-details-container {
        background-color: rgba(0, 0, 0, 0.7);
        min-height: 82px;
        .view-details {
          border-color: #ffffff;
          color: #ffffff;
        }
      }
    }
  }
}
